*,
::before,
::after {
  box-sizing: border-box;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

.slider-container {
  overflow: hidden;
  background-color: pink;
}
.slider-track {
  display: flex;
  background-color: yellow;
  transition: all .2s linear;
}
.slider-item {
  height: 100px;
}
.slider-item:nth-child(3n+1) {
  background-color:red;
}
.slider-item:nth-child(3n+2) {
  background-color:green;
}
.slider-item:nth-child(3n+3) {
  background-color:blue;
}
.slider-buttons {
  text-align: center;
}
.btn-prev {
}
.btn-next {
}